<%= form_with(model: admins_reeduser) do |form| %>
  <% if admins_reeduser.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admins_reeduser.errors.count, "error") %> prohibited this admins_reeduser from being saved:</h2>

      <ul>
        <% admins_reeduser.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
