<h1>Editing reeduser</h1>

<%= render "form", admins_reeduser: @admins_reeduser %>

<br>

<div>
  <%= link_to "Show this reeduser", @admins_reeduser %> |
  <%= link_to "Back to reedusers", admins_reedusers_path %>
</div>
