<p style="color: green"><%= notice %></p>

<h1>Reedusers</h1>

<div id="admins_reedusers">
  <% @admins_reedusers.each do |admins_reeduser| %>
    <%= render admins_reeduser %>
    <p>
      <%= link_to "Show this reeduser", admins_reeduser %>
    </p>
  <% end %>
</div>

<%= link_to "New reeduser", new_admins_reeduser_path %>
