<h1>Editing manage</h1>

<%= render "form", admins_manage: @admins_manage %>

<br>

<div>
  <%= link_to "Show this manage", @admins_manage %> |
  <%= link_to "Back to manages", admins_manages_path %>
</div>
