* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.flex {
	display: flex;
}

@media screen and (max-width: 520px) {
	.flex {
		flex-direction: column;
	}
}

/* メイン画像 */
.main-visual {
	max-width: 100%;
	object-fit: cover;
}


/* PCヘッダー */
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pc-menu--parts {
	display: flex;
	flex-direction: column;
}

.pc-menu--list {
	margin: 0 20px;
}


/* PCフッター */
#footer {
	background-color: rgba(88,127,92,1);
	padding: 10px 0;
}

/* フッターメニュー */
.footer-menu--box {
	margin-bottom: 20px;
}

.footer-menu--parts {
	margin: 0 20px;
}

.footer-menu--list {
	color: #fff;
}


/* フッタータイトル */
.footer-title {
		text-align: center;
		font-size: 38px;
		font-family: Segoe Script;
		color: #fff;
		white-space: nowrap;
		margin-bottom: 20px;
}

/* コピーライト */
.footer-copyright {
		white-space: nowrap;
		line-height: 20px;
		text-align: center;
		font-family: Arial;
		font-size: 12px;
		color: rgba(212,225,214,1);
	}

/* ログアウト（共通） */
.logout {
    padding: 0 10px;
    color: #707070;
}

/* メッセージ欄（共通） */
.notice {
    color: #00b126;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #fff;
    /* border: 1px solid #00b126; */
}

.alert {
    color: #d10000;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #fff;
    /* border: 1px solid #d10000; */
}

/* ボタン（共通） */
.btn-box {
  margin: 20px 0;
}

.btn {
    border: 1px solid rgba(88,127,92,1);
    background-color: #fff;
    color: rgba(88,127,92,1);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    border: none;
    background-color: rgba(88,127,92,1);
    color: #fff;
}

/* 戻るボタン（共通） */
.back-btn {
    border: 1px solid #707070;
    background-color: #fff;
    color: #707070;
}

.back-btn:hover {
    background-color: #707070;
    color: #fff;
}

/* 削除ボタン（共通） */
.delete-btn {
    border: 1px solid #d10000;
    background-color: #fff;
    color: #d10000;
}

.delete-btn:hover {
    background-color: #d10000;
    color: #fff;
}

/* テーブル（共通） */

table {
  border-collapse: collapse;
}

thead {
  background-color: #cfcfcf;
}

th,td {
  border-collapse: collapse;
  border: 1px solid #707070;
  padding: 10px;
}

.unit {
  text-align: right;
}

.quantity-unit {
  margin-left: 10px;
}

/* メニューバー（PC） */
.pc-menu--parts {
  display: flex;
  flex-direction: space-around;
  align-items: center;
}

/* メニューバー（SP） */