<h1>Editing address registration</h1>

<%= render "form", users_address_registration: @users_address_registration %>

<br>

<div>
  <%= link_to "Show this address registration", @users_address_registration %> |
  <%= link_to "Back to address registrations", users_address_registrations_path %>
</div>
